* {
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    font-family: sans-serif;  
    border-radius: 10px;
    
  }
h2{
    text-align: center;
}


  .column {
    float: left;
    padding: 10px;
    padding-right: 0px;
    padding-top: 0px;
    background-color: gainsboro;
    color:black;
    border:1px solid black;
     
   }
.row{
      margin:20px;
   
  }
 .covid{
      color:black;
      float:right;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      padding-left:20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
     
  }
.symptoms{
    background-color: beige;
}
.precautions{
    background-color: burlywood;
}
.history{
    background-color: silver;
}
@media  screen and (min-width: 992px) {
    .column {
      width: 30%;
      margin:10px;
    }
  }
@media   (min-width: 768px) and (max-width:991px) {
    .col1,.col2 {
      width: 45%;
    }
    
    .col3{
        width:95%;
    }
    .col1,.col2,.col3{
        margin: 10px;
    }
  }
  @media  (max-width:767px) {
    .col1,.col2,.col3 {
      width:87%;
      margin:10px;
      

    }
  }
  
 
 
