body{

    font-family: sans-serif;
    margin-bottom: 15px;   
    background-color: gainsboro;
    display: block;
}

*{
    box-sizing: border-box;
    border-radius: 10px; 
    
}


h1{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-top: 15px;
}

.row {
  width: 100%;
}
.covid{
	position: relative;
	padding : 10px;
    
    right: 33px;
     border: 1px solid black;
	float: right;  
}
#t1{
    background-color: red;   
}
#t2{
    background-color: aqua; 
    
    
}
#t3{
    background-color: dodgerblue;
    
}
p{

 border: 1px solid black;
  background-color: bisque;
  width: 90%;
  height: 350px;
  margin: auto;
  font-family: serif;
    text-align: justify;
 
  color: black;
    padding: 40px;
   word-spacing: 5px;
    margin-bottom: 15px;
    
   
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4{
		float: left;
		width: 33.33%;
	}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6{
		float: left;
      width: 50%;
    }
